# Uncomment these values if running locally
#APP_ENV=local
#APP_DEBUG=true
#APP_URL="http://localhost"

# Debugging
# ==========
# NOTE: make sure PHP is compiled with the following extensions:
#   - filter: data filtering support
#   - sockets: TCP/IP sockets support
# ---
# Start debug server with the following command:
# vendor/bin/trap -p9912 --ui=8080
# ---
# The Buggregator WebUI is available at http://localhost:8080
#PROFILER_ENDPOINT=http://127.0.0.1:9912/api/profiler/store
#XHPROF_ENABLED=true

# Uncomment if you don't have memcached running locally
#CACHE_STORE="file"
#SESSION_DRIVER="file"

# Encryption key for session
# NOTE: this isn't actually used, since we don't use session.
# Generate a key with `php artisan key:generate`, it will be auto-filled.
APP_KEY=

# If you want to block incoming requests from bad servers
# using AbuseIPDB, enter your API key here.
ABUSEIPDB_KEY=
# ABUSEIPDB_THRESHOLD=35       # Minimum score (percentage)
# ABUSEIPDB_IGNORE_WHITELIST=0 # Ignore whitelist?
# ABUSEIPDB_CACHE_TTL=15       # Store results in cache for x minutes
# ABUSEIPDB_IP_OK=OK           # Store this string for a good IP
# ABUSEIPDB_IP_BAD=BAD         # Store this string for a bad IP

# CheckRequest Middleware cache TTL
# CHECKREQUEST_CACHE_TTL=15       # Store results in cache for x minutes
