<!DOCTYPE html>
<html>
<head>
	<title>OpenAlias API WebForm</title>

	<!-- Optimize page loading on some devices -->
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1' name='viewport'>
	<meta name="description" content="OpenAlias API WebForm">

	<!-- Beer CSS -->
	<link rel="stylesheet" href="../css/beer.min.css">
	<script src="../js/beer.min.js" type="text/javascript"></script>
	<script src="../js/light.js" type="text/javascript"></script>

	<!-- Montserrat font -->
	<link rel="stylesheet" href="../css/montserrat.css">

	<!-- CSS overrides -->
	<link rel="stylesheet" href="../css/style.css">

	<script type="text/javascript">
	function submit_form(type) {
		if (type == "s")
			var domain = document.getElementById("domain_s");
		else
			var domain = document.getElementById("domain_ml");

		var url = document.URL.split('/');
		url.pop();
		url = url.join('/');

		window.open(url + '/' + domain.value + '?view=full', '_self');
		return false;
	}
	</script>
</head>

<body class="light">
	<!-- FAB -->
	<button class="fixed bottom right square round extra large-margin" style="z-index: 10" onclick="toggle_light()">
		<i class="fill">light_mode</i>
	</button>

	<!-- Small screens -->
	<div class="s small-margin">
	<article class="small-margin">
		<img class="center responsive padding" src="oa.png" style="background-color: black">
		<div class="small-space"></div>

		<p>
		🇬🇧󠁧󠁢󠁥󠁮󠁧󠁿 Enter a domain in the textbox below to check &amp; obtain all of its OpenAlias records.
		</p>

		<p>
		🇮🇹 Inserisci un dominio nella casella di testo qui sotto per controllare e ottenere tutti i suoi record OpenAlias.
		</p>

		<div class="small-space"></div>

		<form method="GET" onsubmit="return submit_form('s')">
			<div class="field prefix label round no-margin">
				<i>travel_explore</i>
				<input type="text" id="domain_s">
				<label>Domain/Dominio</label>
			</div>

			<div class="field round no-margin right-align" style="margin-top: 10px!important">
			<button class="round medium" type="submit">
				Submit
				<i>arrow_forward</i>
			</button>
			</div>
		</form>
	</article>
	</div>

	<!-- Medium & Large screens -->
	<div class="m l large-margin">
	<article class="large-margin">
	<div class="margin">
		<img class="center responsive padding" src="oa.png" style="background-color: black; max-width: 750px!important">
		<div class="small-space"></div>

		<p class="large-text">
		🇬🇧󠁧󠁢󠁥󠁮󠁧󠁿 Enter a domain in the textbox below to check &amp; obtain all of its OpenAlias records.
		</p>

		<p class="large-text">
		🇮🇹 Inserisci un dominio nella casella di testo qui sotto per controllare e ottenere tutti i suoi record OpenAlias.
		</p>

		<div class="small-space"></div>

		<form method="GET" onsubmit="return submit_form('ml')">
			<div class="middle-align grid">
			<div class="field prefix label round s8">
				<i>travel_explore</i>
				<input type="text" id="domain_ml">
				<label>Domain/Dominio</label>
			</div>

			<div class="field round s2">
			<button class="round medium" type="submit">
				Submit
				<i>arrow_forward</i>
			</button>
			</div>
			</div>
		</form>
	</div>
	</article>
	</div>

	<p class="center-align">
        Made by <a class="link" href="https://salonia.it">Salonia Matteo</a> &mdash;
        <a class="link" href="https://github.com/saloniamatteo/openalias">Source Code</a>
        </p>
</body>
</html>
