<!DOCTYPE html>
<html>
<head>
	<title>OpenAlias API WebForm</title>

	<!-- Optimize page loading on some devices -->
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1' name='viewport'>
	<meta name="description" content="OpenAlias API WebForm">

	<!-- Beer CSS -->
	<link rel="stylesheet" href="../css/beer.min.css">
	<script src="../js/beer.min.js" type="text/javascript"></script>
	<script src="../js/light.js" type="text/javascript"></script>

	<!-- Montserrat font -->
	<link rel="stylesheet" href="../css/montserrat.css">

	<!-- CSS overrides -->
	<link rel="stylesheet" href="../css/style.css">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script type="text/javascript">
	var form;
	var dom;
	var resp;
	var err;
	var res;
	var tbody;
	var copy;
	var dsec;

	function set_dev() {
		var dev = (document.body.clientWidth < 601 ? "s" : "ml");

		if (dev == "s") {
			form  = $('#form_s');
			dom   = $('#domain_s');
			resp  = $('#response_s');
			err   = $('#error_s');
			res   = $('#results_s');
			tbody = $('#tab_s');
			copy  = $('#copy-success_s');
			dsec  = $('#dnssec_s');
		} else {
			form  = $('#form_ml');
			dom   = $('#domain_ml');
			resp  = $('#response_ml');
			err   = $('#error_ml');
			res   = $('#results_ml');
			tbody = $('#tab_ml');
			copy  = $('#copy-success_ml');
			dsec  = $('#dnssec_ml');
		}
	}

	$(document).ready(function () {
		set_dev();

		var url = document.URL.split('/');
		url.pop();
		url = url.join('/');

		form.submit(function (e) {
			e.preventDefault();
			window.open(url + '/' + dom.val() + '?view=full', '_self');
		});

		var domain = document.URL.split('/');
		var domain = domain[domain.length - 1].split('?');
		dom.val(domain[0]);

		var json = JSON.parse(resp.text());

		if (json.error == true)
			err.show();
		else {
			res.show();

			if (json.dnssec_verified == true)
				dsec.html("<i class='green round'>check_circle_outline</i>&nbsp;DNSSEC OK");
			else
				dsec.html("<i class='red round'>highlight_off</i>&nbsp;DNSSEC FAIL");

			var ignore = ['oa1', 'recipient_address', 'recipient_name', 'btc', 'xmr'];

			var item_count = 0;

			$.each(json.records, function (i, v) {
				var row = "<tr><td>" + v.oa1 + "</td><td><span class='address' style='word-break: break-all'>" + v.recipient_address + "</span></td><td><span style='word-break: break-word'>" + v.recipient_name + "</span></td></tr>";
				tbody.append(row);
			});
		}
	});
	</script>
</head>

<body class="light">
	<!-- FAB -->
	<button class="fixed bottom right square round extra large-margin" style="z-index: 10" onclick="toggle_light()">
		<i class="fill">light_mode</i>
	</button>

	<!-- Small screens -->
	<div class="s small-margin">
	<article class="small-margin">
		<img class="center responsive padding" src="oa.png" style="background-color: black">
		<div class="small-space"></div>

		<p>
		🇬🇧󠁧󠁢󠁥󠁮󠁧󠁿 Enter a domain in the textbox below to check &amp; obtain all of its OpenAlias records.
		</p>

		<p>
		🇮🇹 Inserisci un dominio nella casella di testo qui sotto per controllare e ottenere tutti i suoi record OpenAlias.
		</p>

		<div class="small-space"></div>

		<form method="GET" id="form_s">
			<div class="field prefix label round no-margin">
				<i>travel_explore</i>
				<input type="text" id="domain_s">
				<label>Domain/Dominio</label>
			</div>

			<div class="field round no-margin right-align" style="margin-top: 10px!important">
			<button class="round medium" type="submit" id="submit">
				Submit
				<i>arrow_forward</i>
			</button>
			</div>
		</form>

		<article class="red white-text" id="error_s" style="display: none">
			<h6>
				🇬🇧󠁧󠁢󠁥󠁮󠁧󠁿 Looks like there&apos;s no OpenAlias data for this domain.
			</h6>

			<h6>
				🇮🇹 Sembra non esserci alcun dato OpenAlias per questo dominio.
			</h6>
		</article>

		<article class="green white-text" id="copy-success_s" style="display: none">
			<h6>
				🇬🇧󠁧󠁢 Successfully copied data!
			</h6>

			<h6>
				🇮🇹 Copiati dati correttamente!
			</h6>
		</article>

		<article class="indigo white-text" id="results_s" style="display: none">
			<h6 id="dnssec_s">DNSSEC</h6>

			<table class="white-text">
				<thead>
				<tr>
					<td><b>OA1 Type</b></td>
					<td><b>Address</b></td>
					<td><b>Name</b></td>
				</tr>
				</thead>

				<tbody id="tab_s">
				</tbody>
			</table>
		</article>

		<div id="response_s" style="display: none">{{results}}</div>
	</article>
	</div>

	<!-- Medium & Large screens -->
	<div class="m l large-margin">
	<article class="large-margin">
	<div class="margin">
		<img class="center responsive padding" src="oa.png" style="background-color: black; max-width: 750px!important">
		<div class="small-space"></div>

		<p class="large-text">
		🇬🇧󠁧󠁢󠁥󠁮󠁧󠁿 Enter a domain in the textbox below to check &amp; obtain all of its OpenAlias records.
		</p>

		<p class="large-text">
		🇮🇹 Inserisci un dominio nella casella di testo qui sotto per controllare e ottenere tutti i suoi record OpenAlias.
		</p>

		<div class="small-space"></div>

		<form method="GET" id="form_ml">
			<div class="middle-align grid">
			<div class="field prefix label round s8" style="margin-bottom: 0!important">
				<i>travel_explore</i>
				<input type="text" id="domain_ml">
				<label>Domain/Dominio</label>
			</div>

			<div class="field round s2" style="margin-bottom: 0!important">
			<button class="round medium" type="submit">
				Submit
				<i>arrow_forward</i>
			</button>
			</div>
			</div>
		</form>

		<article class="red white-text" id="error_ml" style="display: none">
			<h5>
				🇬🇧󠁧󠁢󠁥󠁮󠁧󠁿 Looks like there&apos;s no OpenAlias data for this domain.
			</h5>

			<h5>
				🇮🇹 Sembra non esserci alcun dato OpenAlias per questo dominio.
			</h5>
		</article>

		<article class="green white-text" id="copy-success_ml" style="display: none">
			<h5>
				🇬🇧󠁧󠁢 Successfully copied data!
			</h5>

			<h5>
				🇮🇹 Copiati dati correttamente!
			</h5>
		</article>

		<article class="indigo white-text" id="results_ml" style="display: none">
			<h5 id="dnssec_ml">DNSSEC</h5>

			<table class="white-text">
				<thead>
				<tr>
					<td><b>OA1 Type</b></td>
					<td><b>Address</b></td>
					<td><b>Name</b></td>
				</tr>
				</thead>

				<tbody id="tab_ml">
				</tbody>
			</table>
		</article>

		<div id="response_ml" style="display: none">{{results}}</div>
	</div>
	</article>
	</div>
</body>
</html>
